{% load static%}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta de Producto</title>
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
  </head>
  <body>

    <div class="tarjeta">
      <img class="imagen" src="{% static './images/descarga(21).jpeg' %}" alt="Imagen del Producto">
      <div class="contenido">
        <div class="titulo">Nombre del Producto</div>
        <div class="detalle">Cantidad: 10 piezas</div>
        <div class="descripcion">Descripción del producto aquí...</div>
      </div>
    </div>
  </body>
</html>
