<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tarjeta de Producto</title>
      <link rel="stylesheet" href="{% static 'css/card.css' %}">
  </head>
  <body>

    {% for product in products %}
    <div class="tarjeta">
      <img class="imagen" src="{{ product.image }}" alt="Imagen del Producto">
      <div class="contenido">
        <div class="titulo">{{ product.name }}</div>
        <div class="detalle">Cantidad: {{ product.quantity }} piezas</div>
        <div class="descripcion">{{ product.description }}</div>
      </div>
    </div>
    {% endfor %}

  </body>
</html>
