body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f8a38a, #ffe259); /* Fondo con degradado */
}
.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(236, 221, 221, 0.1);
    width: 320px;
    text-align: center;
}
.login-container h2 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #0a0a0a; /* Cambio el color del título */
}
.login-container img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #e69557cd;
    border: none;
    border-radius: 70px;
    color: #0a0a0a;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-container input[type="submit"]:hover {
    background-color: #c5c5c5;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #e69557cd;
    border: none;
    border-radius: 70px;
    color: #0a0a0a;
    cursor: pointer;
    transition: background-color 0.3s};